{% extends "main.html" %}
{% block content %}

<div class="about">
    <H1>Importance of Machine Failure Prediction</H1>
    <br>
    <center><p>Reliability and availability of components for any machine have always been an important consideration in aviation. Accurate prediction of possible failures will increase the reliability of any components and systems. The scheduling of maintenance operations help determine the overall maintenance and overhaul costs of any components. Maintenance costs constitute a significant portion of the total operating expenditure of any machine.

        There are three main types of maintenance for equipment: corrective maintenance, preventive maintenance, and predictive maintenance. Corrective maintenance helps manage repair actions and unscheduled fault events, such as equipment and machine failures. When any equipment fails while it is in use, it is repaired or replaced. Preventive maintenance can reduce the need for unplanned repair operations. It is implemented by periodic maintenance to avoid equipment failures or machinery breakdowns. Tasks for this type of maintenance are planned to prevent unexpected downtime and breakdown events that would lead to repair operations. Predictive maintenance, as the name suggests, uses some parameters which are measured while the equipment is in operation to guess when failures might happen. </p></center>
</div>

{% endblock %}