{% extends "main.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Contactus</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Prompt:wght@500&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8c02fcbc6a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Connect With Us</h1>
        <p>We would love to respond to your queries and help you succeed.
           Feel free to get in touch with us.
        </p>
        <div class="contact-box">
            <div class="contact-left">
                <h3>Team Members</h3>
                 <div class="team">
                    
                     <ul>
                         
                         <li>Assim</li>
                         <li>Athira</li>
                         <li>Dipti</li>
                         <li>Mounika</li>
                         <li>Lakshmi</li>
                         <li>Satish</li>
                         <li>Swastik</li>
                         <li>Tanuja</li>
                     </ul>
                    
                 </div>

                    
                

              
            </div>
            <div class="contact-right">
                <h3>Reach To Any Of Us</h3>
                <ul>
                    <li>azim0705@outlook.com</li>
                    <li>athiramuraleedharan5598@gmail.com</li>
                    <li>diptisinha10@gmail.com</li>
                    <li>moolammounika1002@gmail.com</li>
                    <li>s.lakshmipriya63@gmail.com</li>
                    <li>satishingle079@gmail.com</li>
                    <li>swastik845@gmail.com</li>
                    <li>tanujakanekar@gmail.com</li>
                </ul>

            </div>
        </div>
    </div>

{% endblock %}